@model EShop.Domain.Domain.Restaurant

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Restaurant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RestaurantName" class="control-label">Restaurant Name</label>
                <input asp-for="RestaurantName" class="form-control" />
                <span asp-validation-for="RestaurantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantDescription" class="control-label">Restaurant Description</label>
                <input asp-for="RestaurantDescription" class="form-control" />
                <span asp-validation-for="RestaurantDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantImage" class="control-label">Restaurant Image</label>
                <input asp-for="RestaurantImage" class="form-control" />
                <span asp-validation-for="RestaurantImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantLocation" class="control-label">Restaurant Location</label>
                <input asp-for="RestaurantLocation" class="form-control" />
                <span asp-validation-for="RestaurantLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



