@model EShop.Domain.DTO.AddToCartDto

<div class="container mt-5">
    <h1 class="mb-4">Add to Cart</h1>
    <form method="post" asp-action="AddToCartConfirmed">
        <input type="hidden" asp-for="foodId" value="@Model.foodId" class="form-control" />

        <div class="form-group row">
            <label asp-for="foodName" class="col-sm-2 col-form-label">Food</label>
            <div class="col-sm-10">
                <input asp-for="foodName" class="form-control" readonly />
                <span asp-validation-for="foodName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mt-3">
            <label asp-for="quantity" class="col-sm-2 col-form-label">Quantity</label>
            <div class="col-sm-10">
                <input asp-for="quantity" type="number" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mt-4">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-success">Add To Cart</button>
            </div>
        </div>
    </form>
</div>

<style>
    .form-group {
        margin-bottom: 1rem;
    }
</style>
