@model List<EShop.Domain.Domain.PartnerBook>

<h2>List of Available Books</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
           
            </tr>
        }
    </tbody>
</table>
